{
  "produces": [
    "application/json"
  ],
  "schemes": [
    "http",
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "API related to User, Creator, Brand",
    "title": "HYPD Entity API:",
    "version": "1.0.1"
  },
  "host": "entity.getshitdone.in",
  "basePath": "/",
  "paths": {
    "/app/brand/basic": {
      "post": {
        "description": "This endpoint will return brand basic information.\n\nEndpoint: /app/brand/basic\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Brand"
        ],
        "summary": "getBrandsBasic",
        "operationId": "getBrandsBasic",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetBrandsByIDBasicOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetBrandBasicESEesp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/brand/username/basic": {
      "post": {
        "description": "This endpoint will return brand basic detail by username.\n\nEndpoint: /app/brand/username/basic\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Brand"
        ],
        "summary": "getBrandsBasicByUsername",
        "operationId": "getBrandsBasicByUsername",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetBrandsByUsernameBasicOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetBrandBasicESEesp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/brand/username/{username}": {
      "get": {
        "description": "This endpoint will return brand information by the username of the brand.\n\nEndpoint: /app/brand/username/{username}\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Brand"
        ],
        "summary": "getBrandInfoByUsername",
        "operationId": "getBrandInfoByUsername",
        "parameters": [
          {
            "enum": [
              "vasu_pal_1"
            ],
            "type": "string",
            "name": "username",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetBrandsInfoByUsernameOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetBrandInfoEsResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/brand/{brandID}": {
      "get": {
        "description": "This endpoint will return information of one brand.\n\nEndpoint: /app/brand/{brandID}\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Brand"
        ],
        "summary": "getBrandInfo",
        "operationId": "getBrandInfo",
        "parameters": [
          {
            "enum": [
              "6065d4503824bf77961c21ae"
            ],
            "type": "string",
            "name": "brandID",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetBrandsInfoByIDOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetBrandInfoEsResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/brands": {
      "get": {
        "description": "This endpoint will return active brand list.\n\nEndpoint: /app/brands\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Brand"
        ],
        "summary": "getActiveBrandsList",
        "operationId": "getActiveBrandsList",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetBrandsListOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetActiveBrandsListESEesp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/cart": {
      "post": {
        "description": "This endpoint will add product ot the cart.\n\nEndpoint: app/cart\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "summary": "addToCart",
        "operationId": "addToCart",
        "parameters": [
          {
            "description": "Add to cart",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Add to cart",
              "type": "object",
              "$ref": "#/definitions/AddToCartOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/addToCart"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/cart/address": {
      "post": {
        "description": "This endpoint will set the cart address of the user..\n\nEndpoint : /app/cart/address\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "summary": "setCartAddress",
        "operationId": "setCartAddress",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/AddressOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " invalid user",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/cart/item": {
      "put": {
        "description": "This endpoint will update the item quantity in the cart.\n\nEndpoint : /app/cart/item\nMethod: PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "summary": "updateItemQty",
        "operationId": "updateItemQty",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/UpdateItemQtyOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/addToCart"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " invalid user",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/cart/{userID}": {
      "get": {
        "description": "This endpoint will get the cart information according to the user id.\n\nEndpoint : /app/cart/{userID}\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "summary": "getCartInfo",
        "operationId": "getCartInfo",
        "parameters": [
          {
            "enum": [
              "60b50277a97a2d73b211aec7"
            ],
            "type": "string",
            "name": "userID",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetCartInfoResp"
            }
          },
          "400": {
            "description": " Bad Request",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " invalid user",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/cart/{userID}/checkout": {
      "get": {
        "description": "This endpoint will return checkout cart.\n\nEndpoint: /app/cart/{userID}/checkout\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "summary": "checkoutCart",
        "operationId": "checkoutCart",
        "parameters": [
          {
            "enum": [
              "6065d4503824bf77961c21ae"
            ],
            "type": "string",
            "name": "userID",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "source",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "web",
              "android",
              "ios"
            ],
            "type": "string",
            "name": "platform",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "name": "isCOD",
            "in": "query",
            "required": true
          },
          {
            "type": "object",
            "name": "request_id",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/OrderInfo"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/cart/{userID}/coupon": {
      "post": {
        "description": "This endpoint will successful apply the coupon on the product.\n\nEndpoint: /app/cart/{userID}/coupon\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "coupon"
        ],
        "summary": "applyCoupon",
        "operationId": "applyCoupon",
        "parameters": [
          {
            "enum": [
              "61dd5c77c69b0de021ce1810"
            ],
            "type": "object",
            "name": "userID",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ApplyCouponOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetCartInfoResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      },
      "delete": {
        "description": "This endpoint will successful remove the coupon on the product.\n\nEndpoint: /app/cart/{userID}/coupon\n\nMethod: DELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "coupon"
        ],
        "summary": "removeCoupon",
        "operationId": "removeCoupon",
        "parameters": [
          {
            "enum": [
              "611ca3d6c2b96106c6c9ee47"
            ],
            "type": "object",
            "name": "userID",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/check/cod": {
      "get": {
        "description": "This endpoint will check the COD eligiblity.\n\nEndpoint: /app/check/cod\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Check",
          "CODviaGoKwik"
        ],
        "summary": "checkCODEligiblity",
        "operationId": "checkCODEligiblity",
        "parameters": [
          {
            "type": "string",
            "description": "Login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/creator/commission": {
      "get": {
        "description": "This endpoint will return commision and revenue.\n\nEndpoint: /app/creator/commission\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Creator"
        ],
        "summary": "getCommissionAndRevenue",
        "operationId": "getCommissionAndRevenue",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetCommissionAndRevenueOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetCommissionAndRevenueResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/creator/dashboard": {
      "post": {
        "description": "This endpoint will return dashaboard of the influencer.\n\nEndpoint: /app/creator/dashboard\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Creator"
        ],
        "summary": "getInfluencerDashboard",
        "operationId": "getInfluencerDashboard",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetInfluencerDashboardOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetInfluencerDashboardResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/creator/debit-request": {
      "post": {
        "description": "This endpoint will post the debit request.\n\nEndpoint: /app/creator/debit-request\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "DebitRequest"
        ],
        "summary": "debitRequest",
        "operationId": "debitRequest",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/CommissionDebitRequest"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/creator/ledger": {
      "get": {
        "description": "This endpoint will return the ledger details of the influencer.\n\nEndpoint: /app/creator/ledger\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Creator"
        ],
        "summary": "getInfluencerLedger",
        "operationId": "getInfluencerLedger",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetInfluencerLedgerOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetInfluencerLedgerResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/creator/payout-info": {
      "get": {
        "description": "This endpoint will return influencer payout information.\n\nEndpoint: /app/creator/payout-info\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Creator"
        ],
        "summary": "getInfluencerPayoutInfo",
        "operationId": "getInfluencerPayoutInfo",
        "parameters": [
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetPayoutInfoResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/customer/brand/follow": {
      "post": {
        "description": "This endpoint will follow the brand.\n\nEndpoint: /app/customer/brand/follow\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "followUnfollow"
        ],
        "summary": "followBrand",
        "operationId": "followBrand",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/AddBrandFollowerOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/customer/brand/unfollow": {
      "post": {
        "description": "This endpoint will unfollow the brand.\n\nEndpoint: /app/customer/brand/unfollow\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "followUnfollow"
        ],
        "summary": "unFollowBrand",
        "operationId": "unFollowBrand",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/AddBrandFollowerOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/customer/influencer/follow": {
      "post": {
        "description": "This endpoint will follow the influencer.\n\nEndpoint: /app/customer/influencer/follow\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "followUnfollow"
        ],
        "summary": "followInfluencer",
        "operationId": "followInfluencer",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/AddInfluencerFollowerOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/customer/influencer/unfollow": {
      "post": {
        "description": "This endpoint will unfollow the influencer.\n\nEndpoint: /app/customer/influencer/unfollow\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "followUnfollow"
        ],
        "summary": "unFollowInfluencer",
        "operationId": "unFollowInfluencer",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/AddInfluencerFollowerOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/customer/{customerID}": {
      "post": {
        "description": "Endpoint: /app/customer/{customerID}\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "getCustomerInfo"
        ],
        "summary": "This endpoint will return the address of the user.",
        "operationId": "getCustomerInfo",
        "parameters": [
          {
            "enum": [
              "60b50277a97a2d73b211aec7"
            ],
            "type": "object",
            "name": "customerID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " Success",
            "schema": {
              "$ref": "#/definitions/getCustomerInfo"
            }
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/app/express-checkout": {
      "post": {
        "description": "This endpoint is for express checkout.\n\nEndpoint: /app/express-checkout\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "ExpressCheckout"
        ],
        "summary": "expressCheckout",
        "operationId": "expressCheckout",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ExpressCheckoutOpts"
            }
          },
          {
            "type": "string",
            "description": "Platform type for example android, web or ios.",
            "name": "platform",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/OrderInfo"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/express-checkout/check/cod": {
      "post": {
        "description": "This endpoint will express checkout RTO.\n\nEndpoint: /app/express-checkout/check/cod\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "CODviaGoKwik"
        ],
        "summary": "expressCheckoutRTO",
        "operationId": "expressCheckoutRTO",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ExpressCheckoutWebOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/influencer": {
      "put": {
        "description": "This endpoint will edit the influencer details.\n\nEndpoint: /app/influencer\n\nMethod: PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "AppInfluencer"
        ],
        "summary": "editInfluencerApp",
        "operationId": "editInfluencerApp",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/EditInfluencerAppOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/EditInfluencerResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/influencer/basic": {
      "get": {
        "description": "This endpoint will return influencer basic information.\n\nEndpoint: /app/influencer/basic\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "AppInfluencer"
        ],
        "summary": "getInfluencersBasic",
        "operationId": "getInfluencersBasic",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetInfluencersByIDBasicOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetInfluencerBasicESEesp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/influencer/username/basic": {
      "post": {
        "description": "This endpoint will return influencer basic information by username.\n\nEndpoint: /app/influencer/username/basic\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "AppInfluencer"
        ],
        "summary": "getInfluencersBasicByUsername",
        "operationId": "getInfluencersBasicByUsername",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetInfluencersByUsernameBasicOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetInfluencerBasicESEesp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/influencer/username/{username}": {
      "get": {
        "description": "This endpoint will return influencer information by username.\n\nEndpoint: /app/influencer/username/{username}\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "AppInfluencer"
        ],
        "summary": "getInfluencerInfoByUsername",
        "operationId": "getInfluencerInfoByUsername",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetInfluencerInfoByUsernameOpts"
            }
          },
          {
            "enum": [
              "kartikay_sharma"
            ],
            "type": "object",
            "name": "username",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetInfluencerInfoEsResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/influencer/{influencerID}": {
      "get": {
        "description": "This endpoint will return influencer information.\n\nEndpoint: /app/influencer/{influencerID}\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "AppInfluencer"
        ],
        "summary": "getInfluencerInfo",
        "operationId": "getInfluencerInfo",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetInfluencerInfoByIDOpts"
            }
          },
          {
            "enum": [
              "60b50277a97a2d73b211aec7"
            ],
            "type": "object",
            "name": "influencerID",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetInfluencerInfoEsResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/size/get": {
      "get": {
        "description": "This endpoint will return size profile.\n\nEndpoint: /app/size/get\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "GetSizeProfile"
        ],
        "summary": "getSizeProfile",
        "operationId": "getSizeProfile",
        "parameters": [
          {
            "enum": [
              "60acf7bcf928b0fa83a7f89f"
            ],
            "type": "object",
            "name": "id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/GetSizeProfileResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/user/influencer-request": {
      "post": {
        "description": "This endpoint will post the request claim by the influencer.\n\nEndpoint: /app/user/influencer-request\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "InfluencerRequest"
        ],
        "summary": "claimInfluencerRequest",
        "operationId": "claimInfluencerRequest",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/InfluencerAccountRequestOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/user/influencer-request/status": {
      "get": {
        "description": "This endpoint will return the status of the influencer request.\n\nEndpoint: /app/user/influencer-request/status\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "InfluencerRequest"
        ],
        "summary": "checkClaimInfluencerRequestStatus",
        "operationId": "checkClaimInfluencerRequestStatus",
        "parameters": [
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/wishlist": {
      "put": {
        "description": "This endpoint will add the product to the wishlist.\n\nEndpoint: /app/wishlist\n\nMethod: PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Wishlist"
        ],
        "summary": "addToWishlist",
        "operationId": "addToWishlist",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/AddToWishlistOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      },
      "delete": {
        "description": "This endpoint will delete the product from the wishlist.\n\nEndpoint: /app/wishlist\n\nMethod: DELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Wishlist"
        ],
        "summary": "removeFromWishlist",
        "operationId": "removeFromWishlist",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/RemoveFromWishlistOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/app/wishlist/{userID}": {
      "get": {
        "description": "This endpoint will return the wishlist product of the user.\n\nEndpoint: /app/wishlist/{userID}\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Wishlist"
        ],
        "summary": "getWishlist",
        "operationId": "getWishlist",
        "parameters": [
          {
            "enum": [
              "6065d4503824bf77961c21ae"
            ],
            "type": "object",
            "name": "userID",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/brand/check/username": {
      "get": {
        "description": "This endpoint will check the brand username exists or not.\n\nEndpoint: /brand/check/username\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "CheckUsername"
        ],
        "summary": "checkBrandUsernameExists",
        "operationId": "checkBrandUsernameExists",
        "parameters": [
          {
            "enum": [
              "falthead"
            ],
            "type": "string",
            "name": "username",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/brand/user/forgot-password": {
      "post": {
        "description": "This endpoint will help the brand to recover forget password.\n\nEndpoint: /brand/user/forgot-password\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "BrandDashAPIs"
        ],
        "summary": "brandUserForgotPassword",
        "operationId": "brandUserForgotPassword",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ForgotPasswordOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/brand/user/login": {
      "post": {
        "description": "This endpoint will login the brand user.\n\nEndpoint: /brand/user/login\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "BrandDashAPIs"
        ],
        "summary": "brandUserLogin",
        "operationId": "brandUserLogin",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/BrandUserLoginOpts"
            }
          },
          {
            "type": "string",
            "name": "returnToken",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " token"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/brand/user/reset-password": {
      "post": {
        "description": "This endpoint will reset the brand password.\n\nEndpoint: /brand/user/reset-password\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "BrandDashAPIs"
        ],
        "summary": "brandUserResetPassword",
        "operationId": "brandUserResetPassword",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ResetPasswordOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/brand/{brandID}": {
      "get": {
        "description": "This endpoint will return brand details.\n\nEndpoint: /brand/{brandID}\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Brand"
        ],
        "summary": "getBrandByID",
        "operationId": "getBrandByID",
        "parameters": [
          {
            "enum": [
              "60b50277a97a2d73b211aec7"
            ],
            "type": "object",
            "name": "brandID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " Success",
            "schema": {
              "$ref": "#/definitions/getBrandByID"
            }
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/cart/{userID}": {
      "delete": {
        "description": "This endpoint will clear the cart of the user.\n\nEndpoint: /cart/{userID}\n\nMethod: DELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cart"
        ],
        "summary": "clearCart",
        "operationId": "clearCart",
        "parameters": [
          {
            "enum": [
              "6065d4503824bf77961c21ae"
            ],
            "type": "object",
            "name": "userID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " Bad Request",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/customer": {
      "put": {
        "description": "This endpoint will update the customer information.\n\nEndpoint: /customer\n\nMethod: PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "customer"
        ],
        "summary": "updateCustomerInfo",
        "operationId": "updateCustomerInfo",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/UpdateCustomerOpts"
            }
          },
          {
            "type": "boolean",
            "description": "If value is set to True, token is omitted from response",
            "name": "isWeb",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " Success",
            "schema": {
              "$ref": "#/definitions/SuccessfulLogin"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/customer/address": {
      "put": {
        "description": "This endpoint will add the address of the customer.\n\nEndpoint: /customer/address\n\nMethod: PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "customer"
        ],
        "summary": "addAddress",
        "operationId": "addAddress",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/AddAddressOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " Success",
            "schema": {
              "$ref": "#/definitions/AddAddressResp"
            }
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      },
      "delete": {
        "description": "This endpoint will delete the address of the customer.\n\nEndpoint: /customer/address\n\nMethod: DELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "customer"
        ],
        "summary": "removeAddress",
        "operationId": "removeAddress",
        "parameters": [
          {
            "name": "address_id",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "user_id:60b50277a97a2d73b211aec7"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": " Success"
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/customer/address/edit": {
      "put": {
        "description": "This endpoint will edit the address.\n\nEndpoint : /customer/address/edit\nMethod: PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "customer"
        ],
        "summary": "editAddress",
        "operationId": "editAddress",
        "parameters": [
          {
            "description": "Edit Address",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Edit Address",
              "type": "object",
              "$ref": "#/definitions/EditAddressOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/customer/apple/login": {
      "post": {
        "description": "This endpoint will login the user via apple.\n\nEndpoint: /customer/apple/login\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "login"
        ],
        "summary": "loginViaApple",
        "operationId": "loginViaApple",
        "parameters": [
          {
            "description": "Login user via apple",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Login user via apple",
              "type": "object",
              "$ref": "#/definitions/LoginWithApple"
            }
          },
          {
            "type": "boolean",
            "description": "If value is set to True, token is omitted from response",
            "name": "isWeb",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " Success",
            "schema": {
              "$ref": "#/definitions/SuccessfulLogin"
            }
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/customer/email/login": {
      "post": {
        "description": "User login via email",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "login"
        ],
        "operationId": "loginViaEmail",
        "parameters": [
          {
            "description": "Login Via Email",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Login Via Email",
              "type": "object",
              "$ref": "#/definitions/EmailLoginCustomerOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SuccessfulLogin",
            "schema": {
              "$ref": "#/definitions/SuccessfulLogin"
            }
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/customer/email/signup": {
      "post": {
        "description": "User Signup via email\n\nEndpoint: /customer/email/signup\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "signup"
        ],
        "summary": "signUpViaEmail",
        "operationId": "signUpViaEmail",
        "parameters": [
          {
            "description": "Signup Via Email",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Signup Via Email",
              "type": "object",
              "$ref": "#/definitions/CreateUserOpts"
            }
          },
          {
            "type": "boolean",
            "description": "If value is set to True, token is omitted from response",
            "name": "isWeb",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " Success",
            "schema": {
              "$ref": "#/definitions/SuccessfulLogin"
            }
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/customer/otp/confirm": {
      "post": {
        "description": "This endpoint will confirm login via mobile otp.\n\nEndpoint: /customer/otp/confirm\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "login"
        ],
        "summary": "confrimloginViaMobileOtp",
        "operationId": "confrimloginViaMobileOtp",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/MobileLoginCustomerUserOpts"
            }
          },
          {
            "type": "boolean",
            "description": "If value is set to True, token is omitted from response",
            "name": "isWeb",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " Success",
            "schema": {
              "$ref": "#/definitions/SuccessfulLogin"
            }
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/customer/otp/generate": {
      "post": {
        "description": "This endpoint will generate the otp when login via mobile\n\n\nEndpoint: /customer/otp/generate\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "login"
        ],
        "summary": "LoginViaMobileOTP",
        "operationId": "LoginViaMobileOTP",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GenerateMobileLoginOTPOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " payload : true"
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/customer/social/login": {
      "post": {
        "description": "This endpoint will login the user via social\n\nEndpoint: /customer/social/login\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "login"
        ],
        "summary": "loginViaSocial",
        "operationId": "loginViaSocial",
        "parameters": [
          {
            "description": "Login user via social",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Login user via social",
              "type": "object",
              "$ref": "#/definitions/LoginWithSocial"
            }
          },
          {
            "type": "boolean",
            "description": "If value is set to True, token is omitted from response",
            "name": "isWeb",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " Success",
            "schema": {
              "$ref": "#/definitions/SuccessfulLogin"
            }
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/customer/{userID}/address": {
      "get": {
        "description": "This endpoint will return the address of the user.\n\nEndpoint: /customer/{userID}/address\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "customer"
        ],
        "summary": "GetAddress",
        "operationId": "GetAddress",
        "parameters": [
          {
            "enum": [
              "60b50277a97a2d73b211aec8"
            ],
            "type": "string",
            "name": "userID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " Success",
            "schema": {
              "$ref": "#/definitions/getAddress"
            }
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/influencer/check/username": {
      "get": {
        "description": "This endpoint will check the influencer username exists or not.\n\nEndpoint: /influencer/check/username\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "CheckUsername"
        ],
        "summary": "checkInfluencerUsernameExists",
        "operationId": "checkInfluencerUsernameExists",
        "parameters": [
          {
            "enum": [
              "kartikay_sharma"
            ],
            "type": "string",
            "name": "username",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "description": "This endpoint will returns the updated user info stored in the token.\n\nEndpoint: /me\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "ME"
        ],
        "summary": "me",
        "operationId": "me",
        "parameters": [
          {
            "type": "string",
            "description": "Login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/UserClaim"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      },
      "post": {
        "description": "This endpoint will returns the updated user info stored in the token.\n\nEndpoint: /me\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "ME"
        ],
        "summary": "updateMe",
        "operationId": "updateMe",
        "parameters": [
          {
            "type": "string",
            "description": "Login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          },
          {
            "type": "boolean",
            "description": "If value is set to True, token is omitted from response",
            "name": "isWeb",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/UserClaim"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/user/auth/email/check": {
      "post": {
        "description": "Endpoint: /user/auth/email/check\n\nThis endpoint will check the user email exists or not.\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "checkEmail"
        ],
        "summary": "Check User Email for Auth",
        "operationId": "checkEmail",
        "parameters": [
          {
            "description": "Check user email",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Check user email",
              "type": "object",
              "$ref": "#/definitions/CheckEmailOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " payload : true"
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/user/auth/email/verify": {
      "post": {
        "description": "This endpoint will verify the user email.\n\nEndpoint: /user/auth/email/verify\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Verification"
        ],
        "summary": "verifyEmailAuth",
        "operationId": "verifyEmailAuth",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/VerifyEmailOpts"
            }
          },
          {
            "type": "boolean",
            "description": "If value is set to True, token is omitted from response",
            "name": "isWeb",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "500": {
            "description": "Failed to login user",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/user/auth/logoutt": {
      "get": {
        "description": "This endpoint will logout the user.\n\nEndpoint: /user/auth/logoutt\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "logout"
        ],
        "summary": "logoutUser",
        "operationId": "logoutUser",
        "parameters": [
          {
            "type": "string",
            "description": "Login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/user/auth/phone/check": {
      "post": {
        "description": "Endpoint: /user/auth/phone/check\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "checkPhoneNo"
        ],
        "summary": "Check User Phone No for Auth",
        "operationId": "checkPhoneNo",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/CheckPhoneNoOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " payload : true"
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/user/auth/phone/verify": {
      "post": {
        "description": "This endpoint will verify user phone number.\n\nEndpoint: /user/auth/phone/verify\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Verification"
        ],
        "summary": "verifyPhoneNoAuth",
        "operationId": "verifyPhoneNoAuth",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/VerifyPhoneNoOpts"
            }
          },
          {
            "enum": [
              true
            ],
            "type": "boolean",
            "name": "isWeb",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " payload : true"
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/user/forgot-password": {
      "post": {
        "description": "This endpoint will help the user to recover the password.\n\nEndpoint: /user/forgot-password\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Password"
        ],
        "summary": "forgotPassword",
        "operationId": "forgotPassword",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ForgotPasswordOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/user/influencerid": {
      "get": {
        "description": "This endpoint will return user id by influencer id.\n\nEndpoint: /user/influencerid\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "getUserIDByInfluencerID"
        ],
        "summary": "getUserIDByInfluencerID",
        "operationId": "getUserIDByInfluencerID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/GetUserInfoByIDOpts"
            }
          },
          {
            "type": "string",
            "name": "id",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/ObjectID"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/user/reset-password": {
      "post": {
        "description": "This endpoint will help the user reset the password.\n\nEndpoint: /user/reset-password\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Password"
        ],
        "summary": "resetPassword",
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ResetPasswordOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/user/verify-email/resend": {
      "post": {
        "description": "This endpoint will resend email verification code\n\nEndpoint: /user/verify-email/resend\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Verification"
        ],
        "summary": "resendEmailVerificationCode",
        "operationId": "resendEmailVerificationCode",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ResendVerificationEmailOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "true"
          },
          "400": {
            "description": " Error",
            "schema": {
              "$ref": "#/definitions/CommonError"
            }
          }
        }
      }
    },
    "/v2/app/cart/checkout": {
      "get": {
        "description": "This endpoint will check the chekcout cart.\n\nEndpoint: /v2/app/cart/checkout\n\nMethod: GET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "CODviaGoKwik"
        ],
        "summary": "checkoutCartV2",
        "operationId": "checkoutCartV2",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/CheckoutOpts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/OrderInfo"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/v2/app/influencer": {
      "put": {
        "description": "This endpoint edit the influencer information.\n\nEndpoint: /v2/app/influencer\n\nMethod: PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "v2Influnencer"
        ],
        "summary": "editInfluencerAppV2",
        "operationId": "editInfluencerAppV2",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/EditInfluencerAppV2Opts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/EditInfluencerResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/v2/app/user/influencer-request": {
      "post": {
        "description": "This endpoint will claim the influencer request.\n\nEndpoint: /v2/app/user/influencer-request\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "v2Influnencer"
        ],
        "summary": "claimInfluencerRequestV2",
        "operationId": "claimInfluencerRequestV2",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/InfluencerAccountRequestV2Opts"
            }
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " true"
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/web/express-checkout": {
      "post": {
        "description": "This endpoint is for express checkout for web.\n\nEndpoint: /web/express-checkout\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "ExpressCheckout"
        ],
        "summary": "expressCheckoutWeb",
        "operationId": "expressCheckoutWeb",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ExpressCheckoutWebOpts"
            }
          },
          {
            "type": "string",
            "description": "Platform type for example android, web or ios.",
            "name": "platform",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Customer login required for successful response.",
            "name": "cookie",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Token required for successful response.",
            "name": "auth token",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/OrderInfo"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": " Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AddAddressOpts": {
      "type": "object",
      "properties": {
        "city": {
          "type": "string",
          "x-go-name": "City"
        },
        "contact_number": {
[...]
