{
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Stardust API:",
    "version": "1.0"
  },
  "host": "stardust.in",
  "basePath": "/api",
  "paths": {
    "/image/upload": {
      "post": {
        "description": "This endpoint post image.\n\nEndpoint: /image/upload\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "UploadImage"
        ],
        "summary": "uploadImage",
        "operationId": "uploadImage",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/CreateImageMediaOpts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/CreateImageMediaResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    },
    "/v2/image/upload": {
      "post": {
        "description": "This endpoint post image.\n\nEndpoint: /v2/image/upload\n\nMethod: POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "UploadImage"
        ],
        "summary": "uploadImageV2",
        "operationId": "uploadImageV2",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "$ref": "#/definitions/CreateImageMediaV2Opts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": " OK",
            "schema": {
              "$ref": "#/definitions/CreateImageMediaResp"
            }
          },
          "400": {
            "description": " BadRequest",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          },
          "403": {
            "description": "Invalid User",
            "schema": {
              "$ref": "#/definitions/AppErr"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AppErr": {
      "type": "object",
      "properties": {
        "Error": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "RequestID": {
          "type": "string"
        }
      },
      "x-go-package": "go-app/server/handler"
    },
    "Closer": {
      "description": "The behavior of Close after the first call is undefined.\nSpecific implementations may document their own behavior.",
      "type": "object",
      "title": "Closer is the interface that wraps the basic Close method.",
      "properties": {
        "Close": {
          "type": "string"
        }
      },
      "x-go-package": "io"
    },
    "CreateImageMediaOpts": {
      "type": "object",
      "required": [
        "file_name",
        "base64_src"
      ],
      "properties": {
        "base64_src": {
          "type": "string",
          "x-go-name": "Base64SRC"
        },
        "file_name": {
          "type": "string",
          "x-go-name": "FileName"
        }
      },
      "x-go-package": "go-app/schema"
    },
    "CreateImageMediaResp": {
      "type": "object",
      "properties": {
        "cloudfront_url": {
          "type": "string",
          "x-go-name": "CloudfrontURL"
        },
        "dimensions": {
          "$ref": "#/definitions/Dimensions"
        },
        "file_name": {
          "type": "string",
          "x-go-name": "FileName"
        },
        "file_type": {
          "type": "string",
          "x-go-name": "FileType"
        },
        "id": {
          "type": "string",
          "format": "ObjectID",
          "x-go-name": "ID"
        },
        "src_bucket_url": {
          "type": "string",
          "x-go-name": "SRCBucketURL"
        },
        "url": {
          "type": "string",
          "x-go-name": "URL"
        }
      },
      "x-go-package": "go-app/schema"
    },
    "CreateImageMediaV2Opts": {
      "type": "object",
      "properties": {
        "file": {
          "$ref": "#/definitions/File"
        },
        "file_name": {
          "type": "string",
          "x-go-name": "FileName"
        }
      },
      "x-go-package": "go-app/schema"
    },
    "Dimensions": {
      "description": "Dimensions contains height and width of video in pixels",
      "type": "object",
      "properties": {
        "height": {
          "type": "integer",
          "format": "uint64",
          "x-go-name": "Height"
        },
        "width": {
          "type": "integer",
          "format": "uint64",
          "x-go-name": "Width"
        }
      },
      "x-go-package": "go-app/model"
    },
    "File": {
      "description": "Its contents may be either stored in memory or on disk.\nIf stored on disk, the File's underlying concrete type will be an *os.File.",
      "type": "object",
      "title": "File is an interface to access the file part of a multipart message.",
      "allOf": [
        {
          "type": "object",
          "properties": {
            "Close": {
              "type": "string"
            }
          }
        },
        {
          "type": "object"
        },
        {
          "type": "object"
        },
        {
          "type": "object"
        }
      ],
      "x-go-package": "mime/multipart"
    },
    "ObjectID": {
      "type": "array",
      "title": "ObjectID is the BSON ObjectID type.",
      "items": {
        "type": "integer",
        "format": "uint8"
      },
      "x-go-package": "go.mongodb.org/mongo-driver/bson/primitive"
    },
    "Reader": {
      "description": "Read reads up to len(p) bytes into p. It returns the number of bytes\nread (0 \u003c= n \u003c= len(p)) and any error encountered. Even if Read\nreturns n \u003c len(p), it may use all of p as scratch space during the call.\nIf some data is available but not len(p) bytes, Read conventionally\nreturns what is available instead of waiting for more.\n\nWhen Read encounters an error or end-of-file condition after\nsuccessfully reading n \u003e 0 bytes, it returns the number of\nbytes read. It may return the (non-nil) error from the same call\nor return the error (and n == 0) from a subsequent call.\nAn instance of this general case is that a Reader returning\na non-zero number of bytes at the end of the input stream may\nreturn either err == EOF or err == nil. The next Read should\nreturn 0, EOF.\n\nCallers should always process the n \u003e 0 bytes returned before\nconsidering the error err. Doing so correctly handles I/O errors\nthat happen after reading some bytes and also both of the\nallowed EOF behaviors.\n\nImplementations of Read are discouraged from returning a\nzero byte count with a nil error, except when len(p) == 0.\nCallers should treat a return of 0 and nil as indicating that\nnothing happened; in particular it does not indicate EOF.\n\nImplementations must not retain p.",
      "type": "object",
      "title": "Reader is the interface that wraps the basic Read method.",
      "x-go-package": "io"
    },
    "ReaderAt": {
      "description": "ReadAt reads len(p) bytes into p starting at offset off in the\nunderlying input source. It returns the number of bytes\nread (0 \u003c= n \u003c= len(p)) and any error encountered.\n\nWhen ReadAt returns n \u003c len(p), it returns a non-nil error\nexplaining why more bytes were not returned. In this respect,\nReadAt is stricter than Read.\n\nEven if ReadAt returns n \u003c len(p), it may use all of p as scratch\nspace during the call. If some data is available but not len(p) bytes,\nReadAt blocks until either all the data is available or an error occurs.\nIn this respect ReadAt is different from Read.\n\nIf the n = len(p) bytes returned by ReadAt are at the end of the\ninput source, ReadAt may return either err == EOF or err == nil.\n\nIf ReadAt is reading from an input source with a seek offset,\nReadAt should not affect nor be affected by the underlying\nseek offset.\n\nClients of ReadAt can execute parallel ReadAt calls on the\nsame input source.\n\nImplementations must not retain p.",
      "type": "object",
      "title": "ReaderAt is the interface that wraps the basic ReadAt method.",
      "x-go-package": "io"
    },
    "Seeker": {
      "description": "Seek sets the offset for the next Read or Write to offset,\ninterpreted according to whence:\nSeekStart means relative to the start of the file,\nSeekCurrent means relative to the current offset, and\nSeekEnd means relative to the end.\nSeek returns the new offset relative to the start of the\nfile and an error, if any.\n\nSeeking to an offset before the start of the file is an error.\nSeeking to any positive offset is legal, but the behavior of subsequent\nI/O operations on the underlying object is implementation-dependent.",
      "type": "object",
      "title": "Seeker is the interface that wraps the basic Seek method.",
      "x-go-package": "io"
    }
  }
}